@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        .half {
            float: left;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

            .half:first-child {
                border-right: 2px solid #000;
            }

        select {
            width: 50%;
            padding: 10px;
            margin: 10px 0;
        }

        .container {
            white-space: nowrap;
            overflow-x: auto;
            width: 100%;
        }

        .item {
            display: inline-block;
            width: 130px;
            height: 150px;
            background-color: gainsboro;
            color: black;
            text-align: center;
            margin-right: 10px;
            overflow: hidden;
            border: 1px solid;
            border-radius: 10px;
        }

            .item img {
                width: 130px;
                height: 80px;
                border: 0 px solid;
                border-radius: 10px;
            }

            .item p {
                /* max-block-size: 20px; */
                margin: 0;
                word-wrap: break-word;
                width: 130px;
                max-block-size: 70px;
                overflow-y: auto; /* هنا تمت إضافة خاصية word-wrap */
                text-wrap: balance;
                text-align: left;
            }


        #hiddenInput {
            display: none
        }

        #hiddenInput2 {
            display: none
        }
    </style>
    <script>

        function checkSelection() {
            var selection = document.getElementById("moneyOperation").value;
            var hiddenInput = document.getElementById("hiddenInput");
            if (selection === "option3") {
                hiddenInput.style.display = "block";
            } else {
                hiddenInput.style.display = "none";
            }
        }
        function checkSelection2() {
            var selection = document.getElementById("SellerServices").value;
            var hiddenInput = document.getElementById("hiddenInput2");
            if (selection === "option2") {
                hiddenInput.style.display = "block";
            } else {
                hiddenInput.style.display = "none";
            }
        }
    </script>



</head>
<body>
        <script>
            function updateName() {
                var username = document.getElementById("inputUsername").value;
                $.ajax(
                    {
                        url: "/AdminManageCustomer/_GetCustomers",
                        type: "GET",
                        data: { username: username },



                        success: function (result) {
                            console.log("passed");
                            $(".customersDiv").html(result);


                        },
                        error: function (result) {
                            alert("an error accure");
                        }
                    }
                )
            };

        </script>

        <div style="text-align:center; margin-top:100px">

            <h2>Search For Customer</h2>
            <input class="input-group-text;" style="max-width:500px; width:400px; text-align:center" id="inputUsername" type="text"
            onkeyup="updateName()" placeholder="Username">
        </div>
        <div class="customersDiv" style="text-align:center">
            <h1>Welcome Please  Search  To Display The Details</h1>
        </div>

</body>
</html>