################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/JobDone
/.vs/JobDone/FileContentIndex/0387b812-9be1-42aa-bbb0-e690adeb0b79.vsidx
*.vsidx
/.vs/JobDoneProject/v17/.wsuo
/.vs/JobDoneProject/v17/DocumentLayout.json
/JobDone/obj/Debug/net8.0
/JobDone/Views/AdminManageCustomer
/JobDone/Views/AdminManageSellers
