@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}
@model SellerProfileViewModel
@{
    int oldworkId = 0;
}

<style>
    
    .get-started-btn {
        color: black;
        border-radius: 4px;
        padding: 7px 25px 8px 25px;
        white-space: nowrap;
        transition: 0.3s;
        font-size: 14px;
        display: inline-block;
        border: 2px solid #ffc451;
    }

        .get-started-btn:hover {
            background: #ffbb38;
            color: #343a40;
        }

    @@media (max-width: 992px) {
        .get-started-btn {
            padding: 7px 20px 8px 20px;
            margin-right: 15px;
        }
    }
</style>

<div class="container" style="margin-top:120px;">
    <div class="select-box">
        <form action="ChooseWork" method="post">
            <select class="get-started-btn" style="width:500px; margin-left:25%;" name="oldworkId" required>
            
        <option hidden>Post</option>
        @foreach (var work in Model.sellerOldWorkModels)
        {
            <option value="@work.Id">@work.Description</option>
        }

    </select>
            <button class="get-started-btn" type="submit" name="oldworkId" value="@oldworkId">Select</button>
        </form>
</div>
@{
    if(Model.OneSellerOldWorkModel == null)
    {
        <div class="container" style="margin-top:120px; margin-bottom:400px">
                <h1 class=" get-started-btn">Select Post To Edit it</h1>
        </div>
    }
    else
    {

            <form action="EditOldWork" method="post" enctype="multipart/form-data">
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        
                        <div class="col-sm-12 col-xl-6">
                            <div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="col-8">
                                        @{
                                            string base64ImageForNewOldWork = Convert.ToBase64String(Model.OneSellerOldWorkModel.Picture);
                                        }
                                        <img class="bd-placeholder-img card-img-top" id="myImage" style="border-radius:0.5em;margin-left:95%; margin-top:20px;" aria-label="Placeholder: Thumbnail" src="data:image/jpeg;base64,@base64ImageForNewOldWork" width="200%" height="300px">

                                        <div>
                                            <input onchange="showButton()" style="margin-left:120%;margin-top:10px;" type="file" id="imageInput" name="NewPhoto" accept="image/*">
                                            <button type="button" class="get-started-btn" id="myButton" onclick="hideButton(),replaceImage()" style="margin-left:135%; margin-top:20px;">Sure</button>
                                        </div>
                                        <div >
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <div class="col-8">
                                                    <textarea style="width:200%; height:200px;margin-top:10px;margin-left:120%;" name="NewDscrepsion">@Model.OneSellerOldWorkModel.Description</textarea><br /><br />
                                                    <input class="get-started-btn" type="submit" value="Edit The Post" placeholder="Edit" style="margin-left:180%;width:200px;" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                
            </form>
    }
   
}
</div>
<script>
    function hideButton() {
        const button = document.getElementById("myButton");
        button.style.display = "none";
    }
    function showButton() {
        const button = document.getElementById("myButton");
        button.style.display = "block";
    }
    function replaceImage() {
        const input = document.getElementById('imageInput');
        const image = document.getElementById('myImage');

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                image.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);

        }
    }
</script>