@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<JobDone.Models.Banners.BannerModel>


<!DOCTYPE html>
<html>
<head>
    <style>
        .slideshow-container {
            
            position: relative;
            margin: auto;
        }

        .slide {
            display: none;
            position: absolute;
          
        }

        .active {
            display: block;
        }
        @@keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .block {
            width: 300px ;
            height: 300px;
            margin: 20px;
            background-color:cornflowerblue;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: all 0.3s ease;
            opacity: 0;
            animation: fadeIn 2s forwards;
        }
        .block:hover {
            background-color: #ccc;
            transform: scale(1.1);

        }
        .icon {
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
    <div class="slideshow-container" >
        @foreach(var banner in Model)
            {
                string base64Image = Convert.ToBase64String(banner.Picture);
                <div class="slide active">
                    <img src="data:image/jpeg;base64,@base64Image" style="width:100%; height:600px;" class="img-fluid" alt="Image">
                </div>
            }
</div>

<br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
<div id="container" class="container">
        <a asp-controller="Admin" asp-action="EditBanners"><div class="block"><span class="icon"><img src="/Adminn/img/111.png" alt="" style="width: 200px;"></span><br></div></a>
        <a asp-controller="Admin" asp-action="AddNewCategory"><div class="block"><span><img src="/adminn/img/222.png" alt="" style="width: 200px;"></span><br /></div></a>

        <a asp-controller="Admin" asp-action="AddAdminAccount"><div class="block"><span class="icon"><img src="/adminn/img/333.png" alt="" style="width: 200px;"></span><br></div></a>
        <a asp-controller="AdminManageWithdraw" asp-action="WithdrawRecords"><div class="block"><span class="icon"><img src="/adminn/img/444.png" alt="" style="width: 200px;"></span><br></div></a>
        <a asp-controller="AdminManageSellers" asp-action="SellerCRUD"><div class="block"><span class="icon"><img src="/adminn/img/555.png" alt="" style="width: 200px;"></span><br></div></a>
        <a asp-controller="AdminManageCustomer" asp-action="CustomerCRUD"><div class="block"><span class="icon"><img src="/adminn/img/666.png" alt="" style="width: 200px;"></span><br></div></a>
</div>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("slide");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        slides[slideIndex-1].style.display = "block";  
        setTimeout(showSlides, 2000); // تغيير الشرائح كل 2 ثانية
    }
</script>

</body>
</html>

