<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <h1 class="display-3">Orders</h1>
            <p class="fs-4  text-center text-primary">Accept Our Client Orders </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8" >
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>

                        </div>
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/Seller/img/pesonal.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h2>c# project</h2>
                                <h5>Nife Bahbarah</h5>
                                <p>Order Date : 11/10/2024</p>
                                <p>I want to make a c# project to my store  that calculate tge recipts  </p>
                                <p style="color:green">price : 100$  time alowed :1 month </p>
                                <a = style="border:0" " #" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Accept</a>
                                <a = style="border:0; background-color:darkred" "#" class="  btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">Reject</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    </div>