@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p class="text-center">
    Terms and Conditions Policy

    Welcome to our website. Please carefully read these terms and conditions before using the site.

    Your use of the site constitutes explicit agreement to these terms and conditions.


    We reserve the right to modify or update these terms and conditions without prior notice.

    The use of the site for unlawful or harmful purposes is strictly prohibited.

    You must provide accurate and truthful information when registering on the site.

    We reserve the right to ban or suspend user accounts for violation of the terms and conditions.

    You are expected to interact with other users in a professional and respectful manner.

    We are not responsible for any services provided by other users on the site.

    We reserve the right to use the information provided on the site for analysis and marketing purposes.

    You should be aware of copyright and trademark laws when publishing content on the site.

    We reserve the right to impose fees or commissions on services provided through the site.

    You must provide the necessary permissions and licenses to offer services on the site.

    The use of hacking techniques or manipulation of site systems is prohibited.

    We are not liable for any damage or loss resulting from the use of the site.

    You are responsible for the use of your account and associated personal information.

    We may terminate or suspend the site at any time without prior notice.

    We reserve the right to refuse or remove any inappropriate content on the site.

    We may use cookies to improve the user experience and provide personalized services.

    Users must respect the intellectual property rights of the site and other users.

    You can request the deletion of your account by contacting our support team.

    Any disputes arising from the use of the site will be governed by the laws of [Jurisdiction].

    Our terms and conditions policy is subject to change, and it is your responsibility to review them periodically.

    If you continue to use the site, it implies your acceptance of any updated terms and conditions.

    If you have any questions or concerns regarding our terms and conditions, please contact us.
</p>
