<link rel="stylesheet" href="~/SignUp/css/style.css" />


<section class="container">
    <header>Registration Form</header>
    <form action="#" class="form" method="post">
        <div class="input-box">
           
            <div></div>
        </div>
        <div class="column">
            <div class="input-box">
               <label>First Name</label>
               <input type="text" placeholder="Enter First name" required />
            </div>
            <div class="input-box">
                <label>Last Name</label>
                <input type="text" placeholder="Enter Last name" required />
            </div>
        </div>

        <div class="input-box">
            <label>Email Address</label>
            <input type="text" placeholder="Enter email address" required />
        </div>

        <div class="column">
            <div class="input-box">
                <label>Phone Number</label>
                <input type="number" placeholder="Enter phone number" required />
            </div>
            <div class="input-box">
                <label>Birth Date</label>
                <input type="date" placeholder="Enter birth date" required />
            </div>
        </div>
        <div class="gender-box">
            <h3>Gender</h3>
            <div class="gender-option">
                <div class="gender">
                    <input type="radio" id="check-male" name="gender" checked />
                    <label for="check-male">male</label>
                </div>
                <div class="gender">
                    <input type="radio" id="check-female" name="gender" />
                    <label for="check-female">Female</label>
                </div>
                <div class="gender">
                    <input type="radio" id="check-other" name="gender" />
                    <label for="check-other">prefer not to say</label>
                </div>
            </div>
        </div>
        <div class="input-box">
            <label>User name</label>
            <input type="text" placeholder="Enter User name" required />
        </div>
        <div class="input-box">
            <label>Password</label>
            <input type="text" placeholder="Enter your Password" required />
            <label>Confirom</label>
            <input type="text" placeholder="Confirom the password" required />
            <label>Upload your ID</label>
            <input type="file" value="Upload your ID" required/>
            <div class="column">
                <div class="select-box">
                    <select>
                        <option hidden>Category</option>
                        <option>Programmer</option>
                        <option>Designer</option>
                        <option>Editor</option>
                    </select>
                </div>
                <input type="text" placeholder="Services" required />
            </div>
            <br />
            <textarea class="form-control" placeholder="Description" style="height:70px;"></textarea>
            <label>Upload your Photo</label>
            <input type="file" value="" />

            <div class="column">
                <div class="select-box">
                    <select>
                        <option hidden>Security question</option>
                        <option>Who are you</option>
                        <option>What school....</option>
                    </select>
                </div>
                <input type="text" placeholder="Answer" required />
            </div>
        </div>
        <input type="submit" class="btn btn-gradient-primary btn-rounded btn-fw" style="background-color:blueviolet; margin-left:30%; margin-top:5%; color:white; padding-left:15%;padding-right:15%;" value="Submit" />
    </form>
</section>