@model ForgotPasswordViewModel
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/Forgotpassword/style.css">
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    <form action="ChangePassword" method="post">
        <div class="card" style="width:50%;margin-left:25%;">
            <p class="lock-icon"><img src="/Forgotpassword/—Pngtree—lock line icon vector_5175128.png" style="width:150px;" alt="Alternate Text" /></p>
            <h2>Change Password?</h2>
            <p>You can Change your Password here</p>
            <input asp-for="@Model.Password" type="password" placeholder="New Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="@Model.ConfirmPassword" type="password" placeholder="Confirom Password" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            @if (ViewBag.Error != null)
            {
                <br />
                <div class="alert alert-warning">
                    @ViewBag.Error
                </div>
            }
            <button class="btn btn-warning" style="width:30%;">Change</button>
        </div>
    </form>
</body>

</html>