<head>
    <style>
        .container {
            position: relative;
            /*max-width: 700px;*/
            /* width: 100%;*/
            /* background: #fff;*/
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            
        }

            .container header {
                font-size: 1.5rem;
                color: #333;
                font-weight: 500;
                text-align: center;
                
            }
    </style>
</head>
<section class="container" style="max-width: 700px;background-color:white;margin-top:120px;">
    <header>Terms of Use and Our Privacy Policy</header>


    <br />
    <<h5>Welcome to JobDone.com! </h5>
    <hr / style="color:#ffbb38; height:3px">
    <pre>
        Please carefully review this Terms of Use Agreement (Register)
        outlining the terms and conditions for your use of the JobDone.
        com website and any related applications, services, or software
        provided by JobDone Team ("JobDone", "we" or "us"). By accessing
        or using JobDone, you agree to be bound by these terms, so please
        read them carefully.

        Description of JobDone
        JobDone is a online marketplace that enables users ("Clients") to
        post descriptions of tasks, jobs or projects they need completed 
        ("Job Posts"). Other users ("Contractors") can then view Job Posts
        and submit proposals or bids to complete the work. Clients are 
        able to review Contractor proposals and select a Contractor to work
        with. All transactions for services are arranged directly between
        Clients and Contractors without involvement from JobDone.

        While JobDone hosts the website and facilitates the bidding
        process, we are not involved in the actual delivery or performance
        of any tasks, jobs or projects. JobDone does not guarantee or
        evaluate the performance of any Contractor. We are not a party
        to any agreements between Clients and Contractors.

        Eligibility
        You must be at least 18 years old to register for a JobDone
        account or use our services. By accessing JobDone, you affirm
        you are 18+ and have the legal authority to be bound by this Agreement.

        User Accounts
        To access certain JobDone features, you must create a user
        account by providing accurate registration information. You are 
        responsible for maintaining confidentiality of login credentials and
        will be responsible for all activities under your account.

        User Conduct
        When using JobDone, you agree not to: impersonate others, post 
        illegal/harmful content, engage in unlawful/deceptive acts, or 
        violate others' copyright/privacy rights. We reserve right to suspend
        or terminate accounts violating these policies.

        User Content
        JobDone may allow uploading of profiles, resumes, Job Posts, proposals,
        reviews or other content ("User Content"). By submitting User Content,
        you grant JobDone a worldwide license to host, copy, distribute and 
        display this content for the purpose of operating the JobDone platform.

        You represent that you have permission to share any third party 
        copyrighted material in User Content. Although JobDone has no obligation
        to screen material, we reserve right to review, modify or remove any 
        User Content for any reason.

        Relationship of Parties
        You understand no joint venture, partnership or employment relationship 
        exists between you and JobDone. We act solely as an independent technology
        provider operating the JobDone platform. We exercise no control over and 
        accept no liability for any services performed between Clients and Contractors.

        Disclaimer of Warranties
        YOU EXPRESSLY AGREE THAT USE OF JOBDONE IS AT YOUR SOLE RISK. WE PROVIDE 
        JOBDONE ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT WARRANTIES OF ANY 
        KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES 
        OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
        WE MAKE NO WARRANTIES AS TO THE ACCURACY, COMPLETENESS OR RELIABILITY OF 
        ANY CONTENT.

        Limitation of Liability
        IN NO EVENT SHALL JOBDONE, ITS DIRECTORS, OFFICERS, EMPLOYEES,
        AFFILIATES, AGENTS, CONTRACTORS, OR LICENSORS BE LIABLE FOR ANY INDIRECT,
        INCIDENTAL,PUNITIVE, SPECIAL OR CONSEQUENTIAL DAMAGES, OR DAMAGES FOR LOSS
        OF USE, DATA,BUSINESS OR PROFITS. OUR AGGREGATE LIABILITY SHALL NOT EXCEED
        THE AMOUNTS ACTUALLY PAID IN THE PREVIOUS SIX (6) MONTHS BY YOU TO JOBDONE
        OR $100, WHICHEVER IS GREATER.

        Indemnification
        You agree to defend, indemnify and hold JobDone harmless from any claims,
        causes of action, demands, recoveries, losses, damages, fines, penalties
        or other costs or expenses of any kind or nature including reasonable legal
        fees arising out of or relating to your use or misuse of JobDone, any User 
        Content you provide, or your breach of this Agreement.

        Termination
        We may terminate or suspend your access for any reason, including breaches
        of this Agreement, at any time in our sole discretion. You may also 
        terminate your account at any time but certain provisions will survive
        termination as described below.

        Governing Law & Dispute Resolution
        This Agreement is governed by the laws of California without regard to 
        conflict of law provisions. Any dispute arising from JobDone or 
        this Agreement must be resolved through binding arbitration conducted
        through the American Arbitration Association (AAA) in San Francisco,
        California applying AAA's Commercial Arbitration Rules.

        General Provisions
        This Agreement constitutes the entire agreement between you and JobDone
        regarding use of the website. If any portion is deemed invalid or
        unenforceable, the remaining portions shall remain in full force
        and effect. JobDone's failure to enforce any right or provision
        in this Agreement is not a waiver of such right or provision.
        This Agreement is not assignable or transferable by you without
        JobDone's consent.

        JobDone Privacy Policy

        JobDone Team ("we") is committed to protecting your privacy.
        This Privacy Policy governs our collection and use of personal information.

        Information We Collect

        We collect information you provide via registration, Job Posts
        , messaging or other interactions. This may include name, 
        address, phone, email or other contact details.

        We also automatically collect information when you visit our site,
        including IP address and pages visited. We use cookies and 
        other technologies to collect this usage data.

        How We Use Information

        We use information as needed to operate JobDone, including:

        Communicating with you about your account or transactions
        Facilitating the bidding and contracting process between users
        Improving our services
        Complying with legal obligations
        We may also use aggregate, non-personally identifying information
        for analytics and marketing. This helps us understand site usage
        and improve our offerings.

        Sharing of Information

        We do not rent or sell your personal information. We may disclose
        information:

        With your consent (such as sharing contact details to complete a job)
        As needed to complete any transaction facilitated through our services
        To comply with legal obligations like a subpoena or court order
        To investigate suspected fraud or illegal activities
        As part of a corporate merger, acquisition or bankruptcy
        With service providers who maintain confidentiality and use solely 
        for our purposes
        Data Security and Storage

        We use reasonable security measures to protect against unauthorized 
        access to or unauthorized alteration, disclosure or destruction of data.
        However, no method of electronic storage is 100% secure.

        Data Retention

        We retain personal information as needed to provide services and 
        comply with legal obligations. You may request correction or deletion 
        of your data by contacting us. We will retain anonymized data as
        needed for analytics.

        Contact and Updates

        Contact us at privacy@jobdone.com with any questions. We may update 
        this policy, so please check back periodically. Policy was last modified
        on [DATE].    

        
        Please carefully review this Terms of Use Agreement (Register) outlining 
        the terms and conditions for your use of the JobDone.
        com website and any related applications, services, or software provided
        by JobDone Team ("JobDone", "we" or "us"). By accessing or using JobDone,
        you agree to be bound by these terms, so please read them carefully.

        Description of JobDone
        JobDone is a online marketplace that enables users ("Clients") to 
        post descriptions of tasks, jobs or projects they need completed 
        ("Job Posts"). Other users ("Contractors") can then view Job Posts
        and submit proposals or bids to complete the work. Clients are able
        to review Contractor proposals and select a Contractor to work with.
        All transactions for services are arranged directly between Clients
        and Contractors without involvement from JobDone.

        While JobDone hosts the website and facilitates the bidding
        process, we are not involved in the actual delivery or performance
        of any tasks, jobs or projects. JobDone does not guarantee or
        evaluate the performance of any Contractor. We are not a party 
        to any agreements between Clients and Contractors.

        Eligibility
        You must be at least 18 years old to register for a JobDone account
        or use our services. By accessing JobDone, you affirm you are 18+ 
        and have the legal authority to be bound by this Agreement.

        User Accounts
        To access certain JobDone features, you must create a user account
        by providing accurate registration information. You are responsible
        for maintaining confidentiality of login credentials and will be
        responsible for all activities under your account.

        User Conduct
        When using JobDone, you agree not to: impersonate others, post 
        illegal/harmful content, engage in unlawful/deceptive acts, or 
        violate others' copyright/privacy rights. We reserve right to 
        suspend or terminate accounts violating these policies.

        User Content
        JobDone may allow uploading of profiles, resumes, Job Posts, 
        proposals, reviews or other content ("User Content"). By submitting
        User Content, you grant JobDone a worldwide license to host, copy,
        distribute and display this content for the purpose of operating 
        the JobDone platform.

        You represent that you have permission to share any third party 
        copyrighted material in User Content. Although JobDone has no 
        obligation to screen material, we reserve right to review, modify
        or remove any User Content for any reason.

        Relationship of Parties
        You understand no joint venture, partnership or employment 
        relationship exists between you and JobDone. We act solely as an 
        independent technology provider operating the JobDone platform. 
        We exercise no control over and accept no liability for any services 
        performed between Clients and Contractors.

        Disclaimer of Warranties
        YOU EXPRESSLY AGREE THAT USE OF JOBDONE IS AT YOUR SOLE RISK. 
        WE PROVIDE JOBDONE ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT
        WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT
        NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR 
        PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES AS TO THE ACCURACY
        , COMPLETENESS OR RELIABILITY OF ANY CONTENT.

        Limitation of Liability
        IN NO EVENT SHALL JOBDONE, ITS DIRECTORS, OFFICERS, EMPLOYEES, 
        AFFILIATES, AGENTS, CONTRACTORS, OR LICENSORS BE LIABLE FOR ANY
        INDIRECT, INCIDENTAL, PUNITIVE, SPECIAL OR CONSEQUENTIAL DAMAGES
        , OR DAMAGES FOR LOSS OF USE, DATA, BUSINESS OR PROFITS. OUR
        AGGREGATE LIABILITY SHALL NOT EXCEED THE AMOUNTS ACTUALLY PAID 
        IN THE PREVIOUS SIX (6) MONTHS BY YOU TO JOBDONE OR $100, 
        WHICHEVER IS GREATER.

        Indemnification
        You agree to defend, indemnify and hold JobDone harmless 
        from any claims, causes of action, demands, recoveries, 
        losses, damages, fines, penalties or other costs or expenses
        of any kind or nature including reasonable legal fees arising 
        out of or relating to your use or misuse of JobDone, any User 
        Content you provide, or your breach of this Agreement.

        Termination
        We may terminate or suspend your access for any reason,
        including breaches of this Agreement, at any time in our
        sole discretion. You may also terminate your account at any 
        time but certain provisions will survive termination as described below.

        Governing Law & Dispute Resolution
        This Agreement is governed by the laws of California without
        regard to conflict of law provisions. Any dispute arising from 
        JobDone or this Agreement must be resolved through binding 
        arbitration conducted through the American Arbitration Association
        (AAA) in San Francisco, California applying AAA's Commercial
        Arbitration Rules.

        General Provisions
        This Agreement constitutes the entire agreement between you 
        and JobDone regarding use of the website. If any portion is 
        deemed invalid or unenforceable, the remaining portions shall
        remain in full force and effect. JobDone's failure to enforce
        any right or provision in this Agreement is not a waiver of 
        such right or provision. This Agreement is not assignable or
        transferable by you without JobDone's consent.

        JobDone Privacy Policy

        JobDone Team ("we") is committed to protecting your privacy.
        This Privacy Policy governs our collection and use of personal
        information.

        Information We Collect

        We collect information you provide via registration, Job Posts,
        messaging or other interactions. This may include name, address,
        phone, email or other contact details.

        We also automatically collect information when you visit our site,
        including IP address and pages visited. We use cookies and other 
        technologies to collect this usage data.

        How We Use Information

        We use information as needed to operate JobDone, including:

        Communicating with you about your account or transactions
        Facilitating the bidding and contracting process between users
        Improving our services
        Complying with legal obligations
        We may also use aggregate, non-personally identifying information
        for analytics and marketing. This helps us understand site usage
        and improve our offerings.

        Sharing of Information

        We do not rent or sell your personal information. We may disclose
        information:

        With your consent (such as sharing contact details to complete a job)
        As needed to complete any transaction facilitated through our services
        To comply with legal obligations like a subpoena or court order
        To investigate suspected fraud or illegal activities
        As part of a corporate merger, acquisition or bankruptcy
        With service providers who maintain confidentiality and use solely
        for our purposes
        Data Security and Storage

        We use reasonable security measures to protect against unauthorized
        access to or unauthorized alteration, disclosure or destruction of data.
        However, no method of electronic storage is 100% secure.

        Data Retention

        We retain personal information as needed to provide services 
        and comply with legal obligations. You may request correction
        or deletion of your data by contacting us. We will retain anonymized
        data as needed for analytics.

        Contact and Updates

        Contact us at privacy@jobdone.com with any questions. We may update
        this policy, so please check back periodically. 
        Policy was last modified on [27/4/2024].    
    </pre>
    <br />

</section>