@model CustomerSellerMessageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CustomerChat/stylee.css">
    <link rel='stylesheet' href='/CustomerChat/styleee.css'>
    <link rel="stylesheet" href="/CustomerChat/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
    <div class="chat" style="width: 100%">
        <div class="contact bar" style="margin-left: -40px; margin-top:30px;">
            <a href="/CustomerSearch/Messages" style="margin-left:-10px;"><i class="fas fa-arrow-left"></i></a>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Seller.ProfilePicture)" alt="Admin" class="rounded-circle" width="60">
            @{
                string FullName = Model.Seller.FirstName + " " + Model.Seller.LastName;
            }
            <div class="name" style="margin-top:10px; margin-left:-10px; margin-bottom:10px;">
                @FullName
            </div>
        </div>
        <div class="messages" id="chat">
            @foreach (var message in Model.Messages)
            {
                @if (message.CustomerId == Model.Customer.Id && message.SellerId == Model.Seller.Id)
                {
                    @if (message.WhoSendMessage != Model.Customer.Id)
                    {
                        <div class="message parker">
                            @message.MessageContent
                        </div>
                    }
                    else
                    {
                        <div class="message stark">
                            @message.MessageContent
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>
