@using System.Security.Claims
@model CustomersSellerMessagesViewModel

@{
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
    string SellerId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<head>
    <style>
        .get-started-btn {
            color: black;
            border-radius: 4px;
            padding: 7px 25px 8px 25px;
            white-space: nowrap;
            transition: 0.3s;
            font-size: 14px;
            display: inline-block;
            border: 2px solid #ffc451;
        }

            .get-started-btn:hover {
                background: #ffbb38;
                color: #343a40;
            }

        @@media (max-width: 992px) {
            .get-started-btn {
                padding: 7px 20px 8px 20px;
                margin-right: 15px;
            }
        }

    </style>
</head>
<div class="container">
    <br />
    <br />
    <br />
    <div class="row">
        @if (Model.Customers.Count() == 0)
        {
            <h3 style="color:red">Nothing here</h3>
        }
        @foreach (var customer in Model.Customers)
        {
            @foreach (var message in Model.Messages)
            {
                @if (message.CustomerId == customer.Id && message.SellerId == Model.Seller.Id)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            @{
                                string base64Image = Convert.ToBase64String(customer.ProfilePicture);
                            }
                            <div class="image-container d-flex align-items-center justify-content-center" style="margin-top:5px">
                                <img src="data:image/jpeg;base64,@base64Image" alt="Profile Picture" class="rounded-circle" width="150">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@customer.Username</h5>
                                <br />
                                <form asp-controller="SellerOrder" asp-action="Chat" method="get" style="display:contents">
                                    <input type="hidden" name="customerId" value="@customer.Id" />
                                    <input type="hidden" name="sellerId" value="@SellerId" />
                                    <button type="submit" class="get-started-btn" style="background-color:#ffc451" onmouseover="this.style.backgroundColor='#FFA500';" onmouseout="this.style.backgroundColor='#ffbb38';">
                                        Message
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    break;
                }
            }
        }
    </div>
</div>
</div>